<div class="container">
  <form #signupForm="ngForm"
        (ngSubmit)="auth.login(email.value, password.value)">
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="email"
             class="form-control"
             id="email"
             #email
             placeholder="youremail@example.com">
    </div>

    <div class="form-group">
      <label for="pass">Password: </label>
      <input type="password"
             class="form-control"
             #password
             placeholder="password">
    </div>

    <a class="btn btn-secondary" (click)="goBack()">Back</a>
    <button class="btn btn-primary text-white"
            type="submit">Login</button>
  </form>
</div>
