<div *ngIf="isCurrUser">
  <app-micropost-edit *ngIf="showDialog.type !== 'edit'"
                      [mode]="showDialog.type"
                      [currentId]="currentId"
                      (refresh)="getFeed()">
  </app-micropost-edit>
</div>
<div id="feed" *ngIf="feed">
  <ul class="list-group">
    <li *ngFor="let micropost of feed | paginate: { id: 'microposts', itemsPerPage: itemsLimit, currentPage: currentPage, totalItems: totalItems }"
        class="list-group-item" >
      <img src="{{micropost.author.picture}}"
           alt="{{userService.fullName(micropost.author.picture)}} avatar"
           class="user_avatar float-left">
      <span>
        <a routerLink="/overview/{{micropost.author.id}}">
          {{userService.fullName(micropost.author)}}
        </a>
      </span>
      <span class="d-block">{{micropost.body}}</span>
      <span class="small text-muted">
        posted at {{postedAt(micropost.createdAt)}}
      </span>
      <span *ngIf="isCurrent(micropost.author.id)">
        <a class="btn btn-sm btn-outline-primary text-primary"
           (click)="showModal(micropost, 'edit')">
          Edit
        </a>
        <a class="btn btn-sm btn-outline-danger text-danger"
           (click)="showModal(micropost, 'delete')">
          Delete
        </a>
      </span>
    </li>
  </ul>

  <pagination-controls id="microposts" (pageChange)="pageChanged($event)"></pagination-controls>

</div>

<div *ngIf="showDialog">
  <app-dialog [(dialogOptions)]="showDialog" #dialog>

    <div *ngIf="showDialog.type === 'delete'">
      <div class="text-center">
        <h2 id="del-dialog-header">Are you shure?</h2>
        <div class="container-fluid">
          <div class="row row-centered">
            <div class="col-md-4 col-centered">
              <a class="btn-block btn btn-lg btn-secondary"
                      (click)="dialog.cancel()">
                No
              </a>
            </div>
            <div class="col-md-4 col-centered">
              <a class="btn-block btn btn-lg btn-danger"
                      (click)="delete(); dialog.cancel()">
                Yes
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showDialog.type === 'edit'">
      <div class="container-fluid">
        <div class="text-center">
          <h2>Edit Micropost</h2>
        </div>

        <div *ngIf="selectedMicropost">
          <app-micropost-edit [mode]="showDialog.type"
                              [currentId]="currentId"
                              [micropost]="selectedMicropost"
                              (refresh)="refresh(dialog)">
          </app-micropost-edit>
        </div>

      </div>
    </div>

  </app-dialog>
</div>
