<div *ngIf="isCurrUser">
  <textarea class="form-control" #body placeholder="Micropost content"></textarea>
  <div id="submit">
    <a class="btn btn-primary text-white" (click)="addMicropost(body.value); body.value=''">New Micropost</a>
  </div>
</div>
<div id="feed" *ngIf="feed">
  <ul class="list-group">
    <li *ngFor="let micropost of feed | paginate: { itemsPerPage: itemsLimit, currentPage: currentPage, totalItems: totalItems }"
        class="list-group-item" >
      <img src="{{micropost.author.picture}}"
           alt="{{userService.fullName(micropost.author.picture)}} avatar"
           class="user_avatar float-left">
      <span>
        <a routerLink="/overview/{{micropost.author.id}}">
          {{userService.fullName(micropost.author)}}
        </a>
      </span>
      <span class="d-block">{{micropost.body}}</span>
      <span class="small text-muted">
        posted at {{postedAt(micropost.createdAt)}}
      </span>
      <div *ngIf="isCurrent(micropost.author.id)">
        <a class="btn btn-primary text-white">Edit</a>
        <a class="btn btn-danger text-white"
           (click)="micropostService.destroy(micropost.id)">
          Delete
        </a>
      </div>
    </li>
  </ul>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
