.container {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#buttons {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#title {
  padding-bottom: 2vh;
}

#avatar {
  width: 150px;
  height: 150px;
}

#relationshipsButtons {
  padding-bottom: 4vh;
}
