<div class="container">
  <h3 id="title">{{title}}</h3>
  <ul class="list-group">
    <a *ngFor="let user of users | paginate: { itemsPerPage: itemsLimit, currentPage: currentPage, totalItems: totalItems }"
       class="list-group-item list-group-item-action"
       routerLink="/overview/{{user.id}}">
      <img src="{{user.picture}}"
           alt="{{userService.fullName(user)}} avatar"
           class="user_avatar">
      <span>{{userService.fullName(user)}}</span>
    </a>
  </ul>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
